.component-5,
.component-5 * {
  box-sizing: border-box;
}

.component-5 {
  flex-shrink: 0;
  height: 164px;
  position: relative;
}

/* 아이디 필드 */
.input-field {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 42.68%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 57.32%;
  top: 0%;
}

.label {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 16px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
}

/* ✅ 전체 테두리 제거 */
.input {
  background: var(--var-sds-color-background-default-default, #ffffff);
  padding: var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 120px;
  position: relative;
  overflow: hidden;
}

.value {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 16px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  color: var(--var-sds-color-text-default-tertiary, #b3b3b3);


  border-bottom: 1px solid #d9d9d9;
  transition: border-color 0.2s ease;
}


.value:focus {
  border-bottom: 1px solid #999999;
}

/* 비밀번호 필드 */
.input-field2 {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 42.68%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 57.32%;
}

.input2 {
  background: var(--var-sds-color-background-default-default, #ffffff);
  padding: var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 120px;
  position: relative;
  overflow: hidden;
}
