/* =========================================================
   📌 기본 예약바 (초기 위치에서는 정상적으로 보임)
   ========================================================= */
.pd-reserve {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 1.2rem;
    padding: 1.2rem;

    border-radius: 18px;
    border: 1px solid #eee;
    background: #fff;

    transition: all 0.35s ease;
    z-index: 20;
}


/* =========================================================
   📌 기존 예약바가 화면에서 사라지면 → 하단 고정
   ========================================================= */
.pd-reserve.bottom-fixed {
    position: fixed;
    bottom: 0;
    align-items: center;
    border-radius: 18px;
    margin: 0;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.88);
    backdrop-filter: blur(14px);
    box-shadow: 0 -4px 18px rgba(0,0,0,0.18);

    z-index: 9999;
}

/* 예약 항목 공통 */
.pd-reserve-item {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    min-width: 200px;
    margin-top: -10px;
}

.pd-reserve-item label {
    font-size: 0.9rem;
    color: #333;
}

/* Select */
.pd-reserve-item select {
    height: 48px;
    padding: 0.8rem 1rem;

    background: #e5e5e5;
    border: none;
    border-radius: 8px;

    font-size: 0.95rem;
    display: flex;
    align-items: center;
}

/* DatePicker */
.pd-input-wrap {
    position: relative;
    height: 48px;
    display: flex;
    align-items: center;

    background: #e5e5e5;
    padding: 0 0.7rem;
    border-radius: 8px;
    overflow: visible !important;
}

.calendar-icon {
    position: absolute;
    left: 10px;
    font-size: 1.1rem;
    color: #777;
    pointer-events: none;
}

.pd-datepicker {
    width: 100%;
    background: none;
    border: none;
    font-size: 0.95rem;

    padding-left: 32px !important;
    cursor: pointer;
    caret-color: transparent !important;
}

.pd-datepicker:focus {
    outline: none !important;            /* 포커스 표시 제거 */
    box-shadow: none !important;
}

/* 예약 버튼 */
.pd-reserve-btn {
    background-color: #557a46;
    color: white;
    border: none;

    padding: 0.9rem 1.2rem;
    min-width: 150px;
    min-height: 70px;

    border-radius: 10px;
    font-size: 1rem;

    cursor: pointer;
    margin-left: auto;
}

.pd-reserve-btn:hover {
    background-color: #46663a;
}
/* 달력 + 시간 패널 가로 정렬 */
.react-datepicker {
    display: flex !important;
    flex-direction: row !important;   /* 🔥 핵심 */
    align-items: flex-start !important;
    overflow: hidden !important;
}

/* 달력은 줄어들지 않게 */
.react-datepicker__month-container {
    flex-shrink: 0 !important;
}

/* 시간 패널도 옆으로 고정 */
.react-datepicker__time-container {
    flex-shrink: 0 !important;   /* 🔥 절대 아래로 떨어지지 않게 */
    width: 95px !important;
    overflow: hidden !important;
}

/* 시간 리스트만 스크롤 */
.react-datepicker__time-container .react-datepicker__time {
    max-height: 230px !important;
    overflow-y: auto !important;
}


