.review-write-box {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
    margin-top: 30px;
}

.rating-row {
    font-size: 26px;
    margin-bottom: 10px;
}

.star {
    cursor: pointer;
    color: #ccc;
    margin-right: 5px;
}

.star.filled {
    color: #ffc107;
}

.review-input {
    width: 100%;
    height: 90px;
    resize: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 12px;
}

.submit-review-btn {
    width: 100%;
    background: #557a46;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.submit-review-btn:hover {
    background: #46663a;
}
