.search-card {
    width: 360px;
    border: 1px solid #eee;
    border-radius: 14px;
    overflow: hidden;
    background: white;
    cursor: pointer;
}

.search-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.search-card-content {
    padding: 16px;
}

.search-title {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
}

.search-desc {
    margin-top: 6px;
    font-size: 14px;
    color: #777;
    white-space: pre-line;
    text-align: right;
}

