.user-name,
.user-company,
.user-phone,
.user-mail,
.res-date,
.office,
.roomtype,
.people-count {
  display: flex;
  flex-direction: column;
  gap: var(--var-sds-size-space-200, 8px);
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.div {
  color: var(--var-sds-color-text-default-default, #1e1e1e);
  text-align: left;
  font-family: var(--body-base-font-family, "Inter-Regular", sans-serif);
  font-size: var(--body-base-font-size, 13px);
  line-height: var(--body-base-line-height, 140%);
  font-weight: var(--body-base-font-weight, 400);
  position: relative;
  align-self: stretch;
}

.input {
  background: var(--var-sds-color-background-default-default, #ffffff);
  border-radius: var(--var-sds-size-radius-200, 8px);
  padding: var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px) var(--var-sds-size-space-300, 12px)
    var(--var-sds-size-space-400, 16px);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 120px;
  position: relative;
  overflow: hidden;
}

.value {
  color: var(--var-sds-color-text-default-tertiary, #b3b3b3);
  text-align: left;
  font-family: var(
    --single-line-body-base-font-family,
    "Inter-Regular",
    sans-serif
  );
  font-size: var(--single-line-body-base-font-size, 14px);
  line-height: var(--single-line-body-base-line-height, 100%);
  font-weight: var(--single-line-body-base-font-weight, 400);
  position: relative;
  flex: 1;
}

/* 날짜 필드 */
.date {
  padding: 5px 15px 5px 15px;
  align-self: stretch;
  flex-shrink: 0;
  display: grid;
  gap: 24px;
  position: relative;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

.started-at,
.ended-at {
  border-radius: 4px;
  border: 2.5px solid #e4dbc2;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 35px;
  position: relative;
  overflow: hidden;
}

.started-at input[type="date"],
.ended-at input[type="date"] {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: var(--m3-body-large-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--m3-body-large-font-size, 14px);
  line-height: var(--m3-body-large-line-height, 24px);
  letter-spacing: var(--m3-body-large-letter-spacing, 0.5px);
  font-weight: var(--m3-body-large-font-weight, 400);
  padding: 10px;
  box-sizing: border-box;
  color: #1d1b20;
  cursor: pointer;
}

/* 브라우저 기본 아이콘 여백 조정 (옵션) */
.started-at input[type="date"]::-webkit-calendar-picker-indicator,
.ended-at input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  opacity: 0.8;
  margin-right: 8px;
}
