.login-form {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;

    padding: 120px 24px 0;
    box-sizing: border-box;
}

.login-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #222;
    text-align: center;
}

@media (max-width: 600px) {
    .login-form {
        padding-top: 80px;
    }
}
