.login-button-wrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.login-button {
    width: 100%;
    background: #d9d0b6;
    color: white;
    font-size: clamp(15px, 2vw, 16px);
    padding: 14px 0;
    border-radius: 8px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.login-button:hover {
    opacity: 0.9;
}
