.login-button-wrap {
  width: 420px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.login-button {
  width: 100%;
  background: #d9d0b6;
  color: white;
  font-size: 16px;
  padding: 14px 0;
  border-radius: 8px;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.login-button:hover {
  opacity: 0.9;
}
