.pd-Activity-card {
    border: 1px solid #eeeeee;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.pd-Activity-info{

    padding: 20px;
    flex: 1;
    display: block;
    line-height: 10px;
    padding-top: 0px;
}


.pd-Activity-img {
    width: 360px;
    height: 240px;
    border-radius: 8px;
}

.pd-Activity-title {
    font-size: 18px;
    font-weight: 600;
}