.pd-hotel-card {
    display: flex;
    gap: 20px;
    padding: 20px;
    margin-bottom: 10px;
}

.pd-hotel-info{
    border: 1px solid #eeeeee;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    display: block;
}


.pd-hotel-img {
    width: 200px;
    border-radius: 8px;
}

.pd-hotel-title {
    font-size: 18px;
    font-weight: 600;
}