.pd-hotel-card {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}

.pd-hotel-info{
    border: 1px solid #eeeeee;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    display: block;
}


.pd-hotel-img {
    width: 240px;
    border-radius: 8px;
}

.pd-hotel-address{
    margin-bottom: 10px;
}

.pd-hotel-desc{
    font-size: 16px;
    font-weight: bold;
}
.pd-hotel-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}