.pd-office-card {
    display: flex;
    gap: 20px;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.pd-office-img{
    width: 200px;
    border-radius: 8px;
}

.pd-office-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.pd-office-desc{
    line-height: 1.3;
    margin-bottom: 4px;
}

.pd-office-address{
    margin-bottom: 10px;
}


.pd-office-info h4{
    margin-bottom: 6px;
}
