.floating-btns {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.floating-btns button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background: rgb(8, 73, 0);
    color: #fff;
}

.floating-btns button:hover {
    background: rgba(8, 73, 0, 0.74);
    color: #fff;
    cursor: pointer;
}

/* ✅ 클래스명 JSX와 동일하게 */
.chatButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    font-weight: bolder;
}
