.floating-btns {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.floating-btns button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background: #6a8250;
    color: #fff;
}

.floating-btns button:hover {
    background: #6a8250;
    color: #fff;
    cursor: pointer;
}

.chatButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    font-weight: bolder;
}