.search-card {
    width: 360px;
    border: 1px solid #eee;
    border-radius: 14px;
    overflow: hidden;
    background: white;
    cursor: pointer;
}

/* ⭐ 항상 고정 높이 유지 */
.search-card-image-wrapper {
    width: 100%;
    height: 220px;       /* 고정 크기 */
    background: #f5f5f5; /* 이미지 없을 때 배경 */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.search-card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.search-card-content {
    padding: 16px;
}

.search-title {
    margin-top: 4px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
}

.search-price {
    margin-top: 6px;
    font-size: 16px;
    color: #777;
    white-space: pre-line;
    text-align: right;
}

