.pd-images {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.pd-main-img {
    width: 50%;
    border-radius: 8px;
}

.pd-sub-imgs {
    width: 50%;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 12px;
}

.pd-sub-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}