.pd-tabs {
    display: flex;
    gap: 20px;
    margin: 40px 0;
    border-bottom: solid 1px #eeeeee;
}

.pd-tabs button {
    background: none;
    border: none;
    padding: 8px 0;
    cursor: pointer;
}

.pd-tabs .active {
    color: #6a8250;
    border-bottom: 2px solid #6a8250;
}