.admin-reservation-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* ✅ 헤더 높이만큼 공간 확보 */
  padding-top: 0px;
  padding-bottom: 60px;
  /* min-height: calc(100vh - 80px); 헤더 높이 제외 */
  /* background-color: #fafafa; */
  position: relative;
  box-sizing: border-box;
}

.admin-reservation-wrapper {
  background: #ffffff;
  border-radius: 16px;
  /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05); */
  width: 100%;
  max-width: 1100px;
  padding: 40px 60px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
