.reservation-view-container {
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  transition: 0.3s;
}

.reservation-title {
  font-size: 1.4rem;
  margin-bottom: 30px;
  color: #222;
}

.reservation-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
