.login-inputs {
  width: 420px;
  margin: 0 auto;
}

/* 한 줄(라벨 + input) */
.form-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 34px;
}

/* 라벨 */
.label {
  width: 100px !important;
  font-size: 16px;
  color: #4a4a4a;
  padding-top: 8px;
}

/* input */
.line-input {
  /* flex: initial !important; */
  width: 48%;
  border: none;
  border-bottom: 1.6px solid #d1d1d1;
  padding: 10px 4px 6px;
  font-size: 16px;
  outline: none;
  color: #333;
  line-height: 22px;
  height: 36px;
}

.line-input::placeholder {
  color: #c6c6c6;
}

.line-input:focus {
  border-bottom-color: #999;
}
