.social-login-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.social-btn {
  all: unset;
  cursor: pointer;
}

.social-icon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}
