/* 전체 영역 */
.profile-check-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 130px;   /* 로그인 페이지와 유사한 위쪽 여백 */
    margin-bottom: 280px;
}

/* 폼 영역 */
.profile-check-form {
    width: 420px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

/* 제목 */
.profile-check-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 50px;
    color: #222;
    text-align: center;
}

/* 라벨 */
.label {
    width: 100px !important;
    font-size: 16px;
    color: #4a4a4a;
    padding-top: 8px;
}

/* input */
.line-input {
    /* flex: initial !important; */
    width: 48%;
    border: none;
    border-bottom: 1.6px solid #d1d1d1;
    padding: 10px 4px 6px;
    font-size: 16px;
    outline: none;
    color: #333;
    line-height: 22px;
    height: 36px;
}

.line-input::placeholder {
    color: #c6c6c6;
}

.line-input:focus {
    border-bottom-color: #999;
}

/* 안내 문구 */
.profile-check-info {
    font-size: 12px;
    color: #777;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 28px;
}

.reauth-button-wrap {
    width: 420px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.reauth-button {
    width: 100%;
    background: #d9d0b6;
    color: white;
    font-size: 16px;
    padding: 14px 0;
    border-radius: 8px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
}