.pd-hotel-card {
    display: flex;
    gap: 20px;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.pd-hotel-img {
    width: 200px;
    border-radius: 8px;
}

.pd-hotel-title {
    font-size: 18px;
    font-weight: 600;
}