.pd-office-card {
    display: flex;
    gap: 20px;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.pd-office-img{
    width: 360px;
    height: 240px;
    border-radius: 8px;
}

.pd-office-title {
    font-size: 18px;
    font-weight: 600;
}

.pd-office-desc{
    line-height: 1.1;
    margin-bottom: 4px;
}

.pd-office-info h4{
    margin-bottom: 6px;
}
