.search-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.search-bar {
    width: 420px;
    height: 45px;
    display: flex;
    align-items: center;
    background: #f4f4f4;
    border-radius: 30px;
    padding: 0 20px;
}

.search-input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
}

.search-icon {
    font-size: 18px;
    color: #555;
}
