.footer {
    width: 100%;
    background: #fff;
    border-top: 1px solid #eee;
    padding: 100px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 80px;
}

.footer-logo {
    font-size: 18px;
    font-weight: 600;
    font-family: "AritaDotumKr-Medium", sans-serif;
}

.footer-info {
    font-size: 13px;
    color: #444;
    line-height: 1.7;
    font-family: "AritaDotumKr-Medium", sans-serif;
}
