/* 전체 페이지 레이아웃 */
.layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header 아래 콘텐츠 중앙정렬 */
.content-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

/* 기본 페이지: 1200px 고정 */
.content-normal {
    width: 1200px;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

/* 메인 페이지: 넓게 */
.content-wide {
    width: 100%;
    /*max-width: 1600px;  !* 필요시 조절 가능 *!*/
    padding: 20px;
    box-sizing: border-box;
}

/* 메뉴 오버레이 */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 900;
}
