.content {
    width: 1920px;
    margin: 0 auto;
    padding-top: 40px;
}
.layout {
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
}

/* ★ 중요 - 이게 없어서 1열로 깨진 거야 */
.content {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
}
