.user-draft-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* ✅ 헤더 높이만큼 공간 확보 */
  padding-top: 0px;
  padding-bottom: 60px;
  /* min-height: calc(100vh - 80px); 헤더 높이 제외 */
  /* background-color: #fafafa; */
  position: relative;
  box-sizing: border-box;
}