.social-login-button,
.social-login-button * {
  box-sizing: border-box;
}
.social-login-button {
  width: 127px;
  height: 47px;
  position: relative;
}
.naver-icon {
  width: 37.01%;
  height: 47px;
  position: absolute;
  right: 0%;
  left: 62.99%;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}
.kakao-icon {
  width: 37.01%;
  height: 47px;
  position: absolute;
  right: 62.99%;
  left: 0%;
  top: 0px;
  object-fit: cover;
  aspect-ratio: 1;
}

.naver-button,
.kakao-button {
  cursor: pointer; 
}
