/* Hero 전체 영역 */
.section.hero {
    width: 100%;
    max-width: 1600px;   /* 메인 영역 제한 */
    margin: 0 auto;
    box-sizing: border-box;

    height: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background: url("/main.webp") no-repeat center center / cover;  /* public/hero.jpg → /hero.jpg */
    border-radius: 12px;
    position: relative;
}

/* 내부 콘텐츠 중앙 정렬 */
.hero-content {
    text-align: center;
    color: #fff;
    margin: 200px 0 15px 0;
    /*backdrop-filter: brightness(0.9);*/
}

/* 타이틀 */
.hero-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 5px;
}

/* 부제 */
.hero-subtitle {
    font-size: 20px;
    margin-bottom: 30px;
    opacity: 0.9;
}