.main-searchBar {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: clamp(52px, 7vw, 72px);
    margin: 0 auto;
    z-index: 2;
}

.main-search {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: 1.5px solid #7b7b7b;
    background: #ffffffdd;
    backdrop-filter: blur(4px);

    padding: 0 56px 0 44px;
    font-size: clamp(14px, 1.6vw, 16px);
    color: #333;

    box-sizing: border-box;
}

.main-search-icon {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);

    font-size: clamp(16px, 2vw, 20px);
    color: #666;
    opacity: 0.8;
    cursor: pointer;
}

.main-search:focus {
    outline: none
}